---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="YuzeTT 的快速导航">
	<main>
		<div class="">1</div>
	</main>
</Layout>

<style>

</style>
